.ng-cloak {
  display: none !important;
}

.wiki-title h3{
  padding: 0;  
}

.mw-content-ltr h2{
  clear: both;
}

.infobox {
  max-width: 22em;
}

.infobox tbody td,
.infobox tbody th {
  text-align: center;
}

.thumbinner {
  display: table;
}

.thumbimage {
  width: 100%;
  height: auto;
}

.thumbcaption {
  display: table-caption;
  caption-side: bottom;
}

body {
  background: #fff;
}